:root{
    --ketchup-color: #A80E0E;
    --mayonnaise-color: #FFAA00;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./imgs/headerBg2x.png);
    width: 100em;
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
    /* I'll be back here */
}
#header-logo{
    display: inline-block;
    width: fit-content;
    height: 10em;
}
#header-logo img{
    margin: 2em 0em 0em 12.6em;
    width: 11em;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* nav a{color: #fff;} */
nav{
    display: flex;
    align-items: center;
    width: 56em;
    height: 5.5em;
    
}
nav ul{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
/* nav ul li{
    height: 100%;
} */
.dir{
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    height: 100%;
    width: 60%;
    background-color: #281923;
    opacity: 70%;
    padding: 0 2em 0 2.5em;
}
.dir li{
    display: flex;
    align-items: center;
}
.dir a{
    display: inline-flex;
    padding: 0 1em 0 0.5em;
    font-size: 0.9em;
    text-transform: capitalize;
    color: #fff;
    /* height: 100%; */
}
.dir .active{
    border-top: 1.5em var(--mayonnaise-color) solid;
}
.interactive{
    background-color: var(--ketchup-color);
    width: 40%;
    height: 100%;
    padding-left: 3em;
    justify-content: start;
}
.interactive li{
    padding-right: 3em;
}
.interactive li img{
    display: inline-flex;
    height: 1.7em;
}
/* .interactive .cart{
    position: relative;
}
.cart .quantity{
    position: absolute;
    background-color: var(--mayonnaise-color);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    right: -0.5em;
    top: -0.5em;
    z-index: 100;
} */


.mid-header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: calc(100% - 7em);
    margin-left: 3.5em;
    margin-right: 3.5em;
}
.main--mid-header{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 50% ;
     color: #fff;
}
.main--mid-header h1{
    font-size: 4.62em;
}
.span-path{
    height: 2.2em;
    width: fit-content;
}
.span-path img{
    display: inline-block;
    height: 100%;
    width: auto;
}
.go-right{
    width: 50%;
    display:flex;
    justify-content: right;
    align-items: center;

}
/*.bg--highlighterM{
    color: #fff;
    display: inline-block;
    /* padding: 10px 20px; 
    position: relative;
}   
 .bg--highlighterM::after{
    content: "";
    background-image: url(./imgs/HighlightM2x.png);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1; 
} */
.order-now{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.3em;
    height: 3.3em;
    padding: 0em 1.1em;
    background-color: var(--mayonnaise-color);
    color: var(--ketchup-color);
    border-radius: 90em;
}
.order-now p{
    display: inline-block;
    padding-left: 1.1em;
    font-size: 1.3em;
}
.order-now span{
    display: flex;
    align-items: center;
    width: 1.2em;
}
.order-now span img{
    display: inline-block;
    width: 100%;
}
.bott-header{
    position: absolute;
    bottom: 3.5em;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bott-header img{
    width: 3.5em;
    height: auto;
}
.liner1{
    background-image: url(./imgs/first2x.png);
    width: 100%;
    position: absolute;
    bottom: 0em;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2em;
    background-position: right;
    transform: translateY(50%);
}
/* .liner1 img{
    display: inline-block;
    width: 100%;
    height: auto;
    /* position: relative;
    top: 50%;
    transform: translateY(80%); 
} */




